USE [master]
GO
/****** Object:  Database [QuanLiDiem]    Script Date: 18/03/2021 8:53:20 CH ******/
CREATE DATABASE [QuanLiDiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLiDiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLiDiem.mdf' , SIZE = 18624KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLiDiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QuanLiDiem_log.ldf' , SIZE = 13888KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLiDiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLiDiem]
GO
/****** Object:  Table [dbo].[ChucNang]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChucNang](
	[Menu] [varchar](20) NOT NULL,
	[App] [varchar](100) NULL,
	[Detail] [nvarchar](100) NULL,
	[ParentMenu] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChucNang_TaiKhoan]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChucNang_TaiKhoan](
	[UserName] [varchar](6) NOT NULL,
	[Menu] [varchar](20) NOT NULL,
	[SetTime] [datetime] NULL,
	[QuyenThem] [bit] NULL,
	[QuyenSua] [bit] NULL,
	[QuyenXoa] [bit] NULL,
	[Cam] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserName] ASC,
	[Menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DiemHP]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiemHP](
	[MaSV] [varchar](6) NOT NULL,
	[MaMonHP] [varchar](6) NOT NULL,
	[ChuyenCan] [float] NULL,
	[GiuaKi] [float] NULL,
	[DiemLan1] [float] NULL,
	[DiemLan2] [float] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK__DiemHP__7C344AC94CA102F9] PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMonHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DonHang](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[MaHD] [varchar](5) NULL,
	[MaSP] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GiaoVien]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaoVien](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaGV]  AS ('GV'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[TenGV] [nvarchar](40) NULL,
	[TrinhDo] [nvarchar](10) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nchar](4) NULL,
	[NoiSinh] [nvarchar](30) NULL,
	[DanToc] [nvarchar](20) NULL,
	[ChucVu] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GiaoVien_HinhAnh]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GiaoVien_HinhAnh](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[GV_IMG]  AS ('IMG'+right('0000'+CONVERT([varchar](5),[ID]),(5))) PERSISTED NOT NULL,
	[IMG] [varbinary](max) NULL,
	[MaGV] [varchar](6) NULL,
	[FileIMG2] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[GV_IMG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[GV_PhanCong]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GV_PhanCong](
	[MaGV] [varchar](6) NOT NULL,
	[MaMonHP] [varchar](6) NOT NULL,
	[MaLop] [varchar](6) NOT NULL,
	[NgayBD] [datetime] NULL,
	[NgayKT] [datetime] NULL,
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC,
	[MaMonHP] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HeDaoTao]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HeDaoTao](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaHe]  AS ('DT'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[TenHe] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](5) NOT NULL,
	[TenHD] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HocKy]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HocKy](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaHK]  AS ('HK'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[TenHK] [nchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Lop](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaLop]  AS ('L0'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[TenLop] [char](7) NULL,
	[MaHe] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MonHP]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonHP](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaMonHP]  AS ('HP'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[TenMonHP] [nvarchar](50) NULL,
	[SoTin] [tinyint] NULL,
	[TietLT] [tinyint] NULL,
	[TietTH] [tinyint] NULL,
	[MaHK] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMonHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](5) NOT NULL,
	[TenSP] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SinhVien](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaSV]  AS ('19'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[HoLot] [nvarchar](30) NULL,
	[Ten] [nvarchar](7) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nchar](4) NULL,
	[NoiSinh] [nvarchar](30) NULL,
	[DanToc] [nvarchar](20) NULL,
	[MaLop] [varchar](6) NULL,
	[MaTinhTrang] [varchar](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SinhVien_HinhAnh]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SinhVien_HinhAnh](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[SV_IMG]  AS ('IMG'+right('0000'+CONVERT([varchar](5),[ID]),(5))) PERSISTED NOT NULL,
	[IMG] [varbinary](max) NULL,
	[MaSV] [varchar](6) NULL,
	[FileIMG] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[SV_IMG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[UserName] [varchar](6) NOT NULL,
	[Pass] [nvarchar](100) NULL,
	[FullName] [nvarchar](40) NULL,
 CONSTRAINT [PK__TaiKhoan__C9F284579AD7E4B1] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThongTin]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThongTin](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaThongTin]  AS ('TT'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[Tinh] [nvarchar](50) NOT NULL,
	[DonViChuQuan] [nvarchar](200) NOT NULL,
	[TenTruong] [nvarchar](200) NOT NULL,
	[KhoaHoc] [varchar](20) NOT NULL,
	[NganhHoc] [nvarchar](50) NOT NULL,
	[ChuyenNganh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThongTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TinhTrang]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TinhTrang](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[MaTinhTrang]  AS ('T0'+right('0000'+CONVERT([varchar](4),[ID]),(4))) PERSISTED NOT NULL,
	[TinhTrang] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[ChucNang] ([Menu], [App], [Detail], [ParentMenu]) VALUES (N'md01', N'Quyen', N'Tiện ích', NULL)
INSERT [dbo].[ChucNang] ([Menu], [App], [Detail], [ParentMenu]) VALUES (N'md0101', N'Quyen', N'GENERAL', N'md01')
INSERT [dbo].[ChucNang] ([Menu], [App], [Detail], [ParentMenu]) VALUES (N'md010101', N'Quyen', N'ĐĂNG NHẬP', N'md0101')
INSERT [dbo].[ChucNang_TaiKhoan] ([UserName], [Menu], [SetTime], [QuyenThem], [QuyenSua], [QuyenXoa], [Cam]) VALUES (N'190001', N'md01', CAST(N'2021-03-03 01:08:18.640' AS DateTime), 0, 0, 0, 0)
INSERT [dbo].[ChucNang_TaiKhoan] ([UserName], [Menu], [SetTime], [QuyenThem], [QuyenSua], [QuyenXoa], [Cam]) VALUES (N'190001', N'md0101', CAST(N'2021-03-03 01:08:18.647' AS DateTime), 0, 0, 0, 0)
INSERT [dbo].[ChucNang_TaiKhoan] ([UserName], [Menu], [SetTime], [QuyenThem], [QuyenSua], [QuyenXoa], [Cam]) VALUES (N'190001', N'md010101', CAST(N'2021-03-03 01:08:18.650' AS DateTime), 0, 0, 0, 0)
GO
INSERT [dbo].[DiemHP] ([MaSV], [MaMonHP], [ChuyenCan], [GiuaKi], [DiemLan1], [DiemLan2], [GhiChu]) VALUES (N'190001', N'HP0008', 8, 8, 8, NULL, NULL)
INSERT [dbo].[DiemHP] ([MaSV], [MaMonHP], [ChuyenCan], [GiuaKi], [DiemLan1], [DiemLan2], [GhiChu]) VALUES (N'190002', N'HP0008', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DiemHP] ([MaSV], [MaMonHP], [ChuyenCan], [GiuaKi], [DiemLan1], [DiemLan2], [GhiChu]) VALUES (N'190003', N'HP0008', NULL, NULL, NULL, NULL, NULL)
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[GiaoVien] ON 

INSERT [dbo].[GiaoVien] ([ID], [TenGV], [TrinhDo], [NgaySinh], [GioiTinh], [NoiSinh], [DanToc], [ChucVu]) VALUES (125, N'Phạm Mạnh Cương', N'Tiến Sĩ', CAST(N'1911-01-01 00:00:00.000' AS DateTime), N'Nam ', N'Đồng Nai', N'Kinh', N'Giáo Vụ')
INSERT [dbo].[GiaoVien] ([ID], [TenGV], [TrinhDo], [NgaySinh], [GioiTinh], [NoiSinh], [DanToc], [ChucVu]) VALUES (126, N'Phạm Mạnh Mẽ', N'Giáo Sư', CAST(N'1911-01-01 00:00:00.000' AS DateTime), N'Nam ', N'Đồng Nai', N'Kinh', N'Giảng Viên')
SET IDENTITY_INSERT [dbo].[GiaoVien] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[GiaoVien_HinhAnh] ON 

INSERT [dbo].[GiaoVien_HinhAnh] ([ID], [IMG], [MaGV], [FileIMG2]) VALUES (25, NULL, N'GV0126', NULL)
SET IDENTITY_INSERT [dbo].[GiaoVien_HinhAnh] OFF
SET ANSI_PADDING OFF
SET IDENTITY_INSERT [dbo].[GV_PhanCong] ON 

INSERT [dbo].[GV_PhanCong] ([MaGV], [MaMonHP], [MaLop], [NgayBD], [NgayKT], [ID]) VALUES (N'GV0125', N'HP0008', N'L00001', CAST(N'2021-03-18 00:00:00.000' AS DateTime), CAST(N'2021-03-19 00:00:00.000' AS DateTime), 15)
SET IDENTITY_INSERT [dbo].[GV_PhanCong] OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[HeDaoTao] ON 

INSERT [dbo].[HeDaoTao] ([ID], [TenHe]) VALUES (1, N'Chính quy')
INSERT [dbo].[HeDaoTao] ([ID], [TenHe]) VALUES (2, N'Vừa học vừa làm')
INSERT [dbo].[HeDaoTao] ([ID], [TenHe]) VALUES (3, N'Ban đêm')
SET IDENTITY_INSERT [dbo].[HeDaoTao] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[HocKy] ON 

INSERT [dbo].[HocKy] ([ID], [TenHK]) VALUES (1, N'Học Kỳ 1')
INSERT [dbo].[HocKy] ([ID], [TenHK]) VALUES (2, N'Học Kỳ 2')
INSERT [dbo].[HocKy] ([ID], [TenHK]) VALUES (3, N'Học Kỳ 3')
SET IDENTITY_INSERT [dbo].[HocKy] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([ID], [TenLop], [MaHe]) VALUES (1, N'K15CNTT', N'DT0001')
INSERT [dbo].[Lop] ([ID], [TenLop], [MaHe]) VALUES (2, N'K14CNTT', N'DT0001')
SET IDENTITY_INSERT [dbo].[Lop] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[MonHP] ON 

INSERT [dbo].[MonHP] ([ID], [TenMonHP], [SoTin], [TietLT], [TietTH], [MaHK]) VALUES (1, N'Giáo Dục Quốc Phòng Và An Ninh (*)', 0, 0, 30, N'HK0004')
INSERT [dbo].[MonHP] ([ID], [TenMonHP], [SoTin], [TietLT], [TietTH], [MaHK]) VALUES (3, N'Tiếng Anh B1.1', 5, 30, 30, N'HK0004')
INSERT [dbo].[MonHP] ([ID], [TenMonHP], [SoTin], [TietLT], [TietTH], [MaHK]) VALUES (4, N'Các Hệ Cơ Sở Dữ Liệu', 3, 30, 30, N'HK0004')
SET IDENTITY_INSERT [dbo].[MonHP] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[SinhVien] ON 

INSERT [dbo].[SinhVien] ([ID], [HoLot], [Ten], [NgaySinh], [GioiTinh], [NoiSinh], [DanToc], [MaLop], [MaTinhTrang]) VALUES (1, N'Nguyễn Hoàng', N'Thanh', CAST(N'1995-01-25 00:00:00.000' AS DateTime), N'Nam ', N'Đồng Nai', N'Kinh', N'L00001', N'T00001')
INSERT [dbo].[SinhVien] ([ID], [HoLot], [Ten], [NgaySinh], [GioiTinh], [NoiSinh], [DanToc], [MaLop], [MaTinhTrang]) VALUES (2, N'Nguyễn Hoài', N'Anh', CAST(N'2001-02-06 00:00:00.000' AS DateTime), N'Nam ', N'Mũi Né', N'Kinh', N'L00001', N'T00001')
INSERT [dbo].[SinhVien] ([ID], [HoLot], [Ten], [NgaySinh], [GioiTinh], [NoiSinh], [DanToc], [MaLop], [MaTinhTrang]) VALUES (3, N'Trần Tiến', N'Đạt', CAST(N'2001-03-19 00:00:00.000' AS DateTime), N'Nam ', N'Đồng Nai', N'Kinh', N'L00001', N'T00001')
SET IDENTITY_INSERT [dbo].[SinhVien] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[SinhVien_HinhAnh] ON 

INSERT [dbo].[SinhVien_HinhAnh] ([ID], [IMG], [MaSV], [FileIMG]) VALUES (1, NULL, N'190006', NULL)
INSERT [dbo].[SinhVien_HinhAnh] ([ID], [IMG], [MaSV], [FileIMG]) VALUES (2, NULL, N'190001', NULL)
INSERT [dbo].[SinhVien_HinhAnh] ([ID], [IMG], [MaSV], [FileIMG]) VALUES (3, NULL, N'190002', NULL)
SET IDENTITY_INSERT [dbo].[SinhVien_HinhAnh] OFF
SET ANSI_PADDING OFF
INSERT [dbo].[TaiKhoan] ([UserName], [Pass], [FullName]) VALUES (N'190001', N'190001', N'Nguyễn Hoàng Thanh')
INSERT [dbo].[TaiKhoan] ([UserName], [Pass], [FullName]) VALUES (N'190002', N'190002', N'Nguyễn Hoài Anh')
INSERT [dbo].[TaiKhoan] ([UserName], [Pass], [FullName]) VALUES (N'190003', N'190003', N'Trần Tiến Đạt')
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[ThongTin] ON 

INSERT [dbo].[ThongTin] ([ID], [Tinh], [DonViChuQuan], [TenTruong], [KhoaHoc], [NganhHoc], [ChuyenNganh]) VALUES (2, N'Đồng Nai', N'TẬP ĐOÀN GIÁO DỤC IGC', N'TRƯỜNG CAO ĐẲNG CÔNG NGHỆ VÀ QUẢN TRỊ SONADEZI', N'2019-2022', N'CNTT', N'Tin học ứng dụng')
SET IDENTITY_INSERT [dbo].[ThongTin] OFF
SET ANSI_PADDING OFF
SET ANSI_PADDING ON
SET IDENTITY_INSERT [dbo].[TinhTrang] ON 

INSERT [dbo].[TinhTrang] ([ID], [TinhTrang]) VALUES (1, N'Đang học')
INSERT [dbo].[TinhTrang] ([ID], [TinhTrang]) VALUES (2, N'Nghỉ học')
INSERT [dbo].[TinhTrang] ([ID], [TinhTrang]) VALUES (3, N'Bảo lưu')
SET IDENTITY_INSERT [dbo].[TinhTrang] OFF
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[ChucNang_TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__ChucNang_T__Menu__2CBDA3B5] FOREIGN KEY([Menu])
REFERENCES [dbo].[ChucNang] ([Menu])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChucNang_TaiKhoan] CHECK CONSTRAINT [FK__ChucNang_T__Menu__2CBDA3B5]
GO
ALTER TABLE [dbo].[ChucNang_TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK__ChucNang_Ta__Cam__2BC97F7C] FOREIGN KEY([UserName])
REFERENCES [dbo].[TaiKhoan] ([UserName])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChucNang_TaiKhoan] CHECK CONSTRAINT [FK__ChucNang_Ta__Cam__2BC97F7C]
GO
ALTER TABLE [dbo].[DiemHP]  WITH CHECK ADD  CONSTRAINT [FK__DiemHP__GhiChu__267ABA7A] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
GO
ALTER TABLE [dbo].[DiemHP] CHECK CONSTRAINT [FK__DiemHP__GhiChu__267ABA7A]
GO
ALTER TABLE [dbo].[DiemHP]  WITH CHECK ADD  CONSTRAINT [FK__DiemHP__MaMonHP__276EDEB3] FOREIGN KEY([MaMonHP])
REFERENCES [dbo].[MonHP] ([MaMonHP])
GO
ALTER TABLE [dbo].[DiemHP] CHECK CONSTRAINT [FK__DiemHP__MaMonHP__276EDEB3]
GO
ALTER TABLE [dbo].[GiaoVien_HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK__GiaoVien___FileI__6383C8BA] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaoVien_HinhAnh] CHECK CONSTRAINT [FK__GiaoVien___FileI__6383C8BA]
GO
ALTER TABLE [dbo].[GV_PhanCong]  WITH CHECK ADD  CONSTRAINT [FK__GV_PhanCo__MaLop__4F47C5E3] FOREIGN KEY([MaGV])
REFERENCES [dbo].[GiaoVien] ([MaGV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GV_PhanCong] CHECK CONSTRAINT [FK__GV_PhanCo__MaLop__4F47C5E3]
GO
ALTER TABLE [dbo].[GV_PhanCong]  WITH CHECK ADD  CONSTRAINT [FK__GV_PhanCo__MaLop__51300E55] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GV_PhanCong] CHECK CONSTRAINT [FK__GV_PhanCo__MaLop__51300E55]
GO
ALTER TABLE [dbo].[GV_PhanCong]  WITH CHECK ADD  CONSTRAINT [FK__GV_PhanCo__MaMon__503BEA1C] FOREIGN KEY([MaMonHP])
REFERENCES [dbo].[MonHP] ([MaMonHP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GV_PhanCong] CHECK CONSTRAINT [FK__GV_PhanCo__MaMon__503BEA1C]
GO
ALTER TABLE [dbo].[Lop]  WITH CHECK ADD FOREIGN KEY([MaHe])
REFERENCES [dbo].[HeDaoTao] ([MaHe])
GO
ALTER TABLE [dbo].[MonHP]  WITH CHECK ADD  CONSTRAINT [FK__MonHP__MaHK__164452B1] FOREIGN KEY([MaHK])
REFERENCES [dbo].[HocKy] ([MaHK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MonHP] CHECK CONSTRAINT [FK__MonHP__MaHK__164452B1]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien__MaTinh__1FCDBCEB] FOREIGN KEY([MaLop])
REFERENCES [dbo].[Lop] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien] CHECK CONSTRAINT [FK__SinhVien__MaTinh__1FCDBCEB]
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([MaTinhTrang])
REFERENCES [dbo].[TinhTrang] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[SinhVien_HinhAnh]  WITH CHECK ADD  CONSTRAINT [FK__SinhVien___FileI__239E4DCF] FOREIGN KEY([MaSV])
REFERENCES [dbo].[SinhVien] ([MaSV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien_HinhAnh] CHECK CONSTRAINT [FK__SinhVien___FileI__239E4DCF]
GO
/****** Object:  StoredProcedure [dbo].[BangDiemHP]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BangDiemHP]
@MaLop VARCHAR(6),
@MaMonHP VARCHAR(6)
AS
BEGIN
	SELECT s.MaSV, s.HoLot + ' ' + s.Ten [HoTenSV], s.NgaySinh, hp.ChuyenCan, hp.GiuaKi, hp.DiemLan1, hp.DiemLan2, hp.GhiChu FROM dbo.SinhVien s LEFT JOIN dbo.DiemHP hp ON  hp.MaSV = s.MaSV
	WHERE s.MaLop = @MaLop AND hp.MaMonHP = @MaMonHP
END

GO
/****** Object:  StoredProcedure [dbo].[DiemHPDelete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[DiemHPDelete]
@MaSV VARCHAR(6),
@MaMonHP VARCHAR(6)
AS
BEGIN
	DELETE FROM dbo.DiemHP WHERE MaSV = @MaSV AND MaMonHP = @MaMonHP
END

GO
/****** Object:  StoredProcedure [dbo].[DiemHPInsert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[DiemHPInsert]
@MaSV VARCHAR(6),
@MaMonHP VARCHAR(6),
@ChuyenCan FLOAT,
@GiuaKi FLOAT,
@DiemLan1 FLOAT,
@GhiChu NVARCHAR(50)
AS
BEGIN
	INSERT DiemHP (MaSV, MaMonHP, ChuyenCan, GiuaKi, DiemLan1, GhiChu)  VALUES (@MaSV, @MaMonHP, @ChuyenCan, @GiuaKi, @DiemLan1, @GhiChu)
END

GO
/****** Object:  StoredProcedure [dbo].[DiemHPInsert_1]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DiemHPInsert_1]
@MaMonHP VARCHAR(6),
@MaSV VARCHAR(6)
AS
BEGIN
	INSERT DiemHP (MaMonHP, MaSV)  VALUES (@MaMonHP, @MaSV)
END

GO
/****** Object:  StoredProcedure [dbo].[DiemHPInsert_2]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DiemHPInsert_2]
@MaSV VARCHAR(6),
@MaMonHP VARCHAR(6)
AS
BEGIN
	INSERT DiemHP (MaSV, MaMonHP)  VALUES (@MaSV, @MaMonHP)
END

GO
/****** Object:  StoredProcedure [dbo].[DiemHPSearch]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DiemHPSearch]
@MaMonHP VARCHAR(6),
@MaSV VARCHAR(6)
AS
BEGIN
	SELECT dbo.DiemHP.*, SoTin FROM dbo.DiemHP
	LEFT JOIN dbo.MonHP ON MonHP.MaMonHP = DiemHP.MaMonHP
	WHERE MaSV = @MaSV AND dbo.DiemHP.MaMonHP = @MaMonHP
END

GO
/****** Object:  StoredProcedure [dbo].[DiemHPUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DiemHPUpdate] 
@ChuyenCan FLOAT,
@GiuaKi FLOAT,
@DiemLan1 FLOAT,
@DiemLan2 FLOAT,
@MaSV VARCHAR(6),
@MaMonHP VARCHAR(6)
AS
	BEGIN
		UPDATE dbo.DiemHP SET ChuyenCan = @ChuyenCan, GiuaKi = @GiuaKi, DiemLan1 = @DiemLan1, DiemLan2 = @DiemLan2
		WHERE MaSV = @MaSV AND MaMonHP = @MaMonHP
	END

GO
/****** Object:  StoredProcedure [dbo].[GiaoVienHA_SelectALL]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GiaoVienHA_SelectALL]
AS
BEGIN
	SELECT a.FileIMG2, a.MaGV, a.GV_IMG, a.IMG, b.TenGV FROM dbo.GiaoVien_HinhAnh a RIGHT JOIN  dbo.GiaoVien b ON b.MaGV = a.MaGV
END

GO
/****** Object:  StoredProcedure [dbo].[GiaoVienHA_SelectByCV]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GiaoVienHA_SelectByCV]
@ChucVu NVARCHAR(20)
AS
BEGIN
	SELECT a.FileIMG2, a.MaGV, a.GV_IMG, a.IMG, b.TenGV FROM dbo.GiaoVien_HinhAnh a RIGHT JOIN  dbo.GiaoVien b ON b.MaGV = a.MaGV
	WHERE b.ChucVu = @ChucVu
END

GO
/****** Object:  StoredProcedure [dbo].[GiaoVienHA_Update]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GiaoVienHA_Update]
@GV_IMG VARCHAR(8),
@IMG VARBINARY(MAX),
@FileIMG2 NVARCHAR(100)
AS
BEGIN
	UPDATE dbo.GiaoVien_HinhAnh SET IMG = @IMG, FileIMG2 = @FileIMG2 WHERE GV_IMG = @GV_IMG
END

GO
/****** Object:  StoredProcedure [dbo].[GVPhanCong_Delete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GVPhanCong_Delete]
@TenGV NVARCHAR(40),
@TenMonHP NVARCHAR(50),
@TenLop CHAR(7)
AS
BEGIN
	SET @TenGV = (SELECT dbo.GiaoVien.MaGV FROM dbo.GiaoVien WHERE TenGV = @TenGV)
	SET @TenMonHP = (SELECT MaMonHP FROM dbo.MonHP WHERE TenMonHP = @TenMonHP)
	SET @TenLop = (SELECT MaLop FROM dbo.Lop WHERE TenLop = @TenLop)

	DELETE FROM GV_PhanCong
	WHERE MaGV = @TenGV
	AND	MaMonHP = @TenMonHP
	AND MaLop = @TenLop
END

GO
/****** Object:  StoredProcedure [dbo].[GVPhanCong_Insert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GVPhanCong_Insert]
@TenGV NVARCHAR(40),
@TenMonHP NVARCHAR(50),
@TenLop CHAR(7),
@NgayBD DATETIME,
@NgayKT DATETIME
AS
BEGIN
	SET @TenGV = (SELECT dbo.GiaoVien.MaGV FROM dbo.GiaoVien WHERE TenGV = @TenGV)
	SET @TenMonHP = (SELECT MaMonHP FROM dbo.MonHP WHERE TenMonHP = @TenMonHP)
	SET @TenLop = (SELECT MaLop FROM dbo.Lop WHERE TenLop = @TenLop)

	INSERT GV_PhanCong VALUES (@TenGV, @TenMonHP, @TenLop, @NgayBD, @NgayKT)
END
GO
/****** Object:  StoredProcedure [dbo].[GVPhanCong_Update]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GVPhanCong_Update]
@ID TINYINT,
@TenGV NVARCHAR(40),
@TenMonHP NVARCHAR(50),
@TenLop CHAR(7),
@NgayBD DATETIME,
@NgayKT DATETIME
AS
BEGIN
	SET @TenGV = (SELECT dbo.GiaoVien.MaGV FROM dbo.GiaoVien WHERE TenGV = @TenGV)
	SET @TenMonHP = (SELECT MaMonHP FROM dbo.MonHP WHERE TenMonHP = @TenMonHP)
	SET @TenLop = (SELECT MaLop FROM dbo.Lop WHERE TenLop = @TenLop)

		UPDATE GV_PhanCong
		SET MaMonHP = @TenMonHP,
			MaLop = @TenLop,
			MaGV = @TenGV,
			NgayBD = @NgayBD,
			NgayKT = @NgayKT
		WHERE ID = @ID
	
END
GO
/****** Object:  StoredProcedure [dbo].[HeDaoTaoDelete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HeDaoTaoDelete]
@MaHe VARCHAR(6)
AS
BEGIN
	DELETE FROM dbo.HeDaoTao WHERE MaHe = @MaHe
END

GO
/****** Object:  StoredProcedure [dbo].[HeDaoTaoInsert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HeDaoTaoInsert]
@TenHe NVARCHAR(20)
AS
BEGIN
	INSERT HeDaoTao (TenHe) VALUES (@TenHe)
END

GO
/****** Object:  StoredProcedure [dbo].[HeDaoTaoUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HeDaoTaoUpdate]
@MaHe VARCHAR(6),
@TenHe NVARCHAR(20)
AS
BEGIN
	UPDATE dbo.HeDaoTao SET TenHe = @TenHe WHERE MaHe = @MaHe
END

GO
/****** Object:  StoredProcedure [dbo].[HeSelectALL]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HeSelectALL]
AS
BEGIN
	SELECT * FROM dbo.HeDaoTao
END

GO
/****** Object:  StoredProcedure [dbo].[HKSelectALL]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[HKSelectALL]
AS
BEGIN
	SELECT * FROM dbo.HocKy
END

GO
/****** Object:  StoredProcedure [dbo].[HocKyDelete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HocKyDelete]
@MaHK VARCHAR(6)
AS
BEGIN
	DELETE dbo.HocKy WHERE MaHK = @MaHK
END

GO
/****** Object:  StoredProcedure [dbo].[HocKyInsert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HocKyInsert]
@TenHK NCHAR(8)
AS
BEGIN
	INSERT HocKy (TenHK) VALUES (@TenHK)
END

GO
/****** Object:  StoredProcedure [dbo].[HocKyUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[HocKyUpdate]
@MaHK VARCHAR(6),
@TenHK NCHAR(8)
AS
BEGIN
	UPDATE dbo.HocKy SET TenHK = @TenHK WHERE MaHK = @MaHK
END

GO
/****** Object:  StoredProcedure [dbo].[LopDelete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LopDelete]
@MaLop VARCHAR(6)
AS
BEGIN
	DELETE FROM dbo.Lop WHERE MaLop = @MaLop
END

GO
/****** Object:  StoredProcedure [dbo].[LopInsert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LopInsert]
@TenLop CHAR(7),
@MaHe VARCHAR(6)
AS
BEGIN
	INSERT Lop (TenLop, MaHe) VALUES (@TenLop, @MaHe)
END

GO
/****** Object:  StoredProcedure [dbo].[LopSelectAll]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LopSelectAll]
AS
BEGIN
	SELECT * FROM dbo.Lop
END

GO
/****** Object:  StoredProcedure [dbo].[LopSelectALLByHe]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LopSelectALLByHe]
@MaHe VARCHAR(6)
AS
BEGIN
	SELECT * FROM dbo.Lop WHERE MaHe = @MaHe 
END

GO
/****** Object:  StoredProcedure [dbo].[LopUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[LopUpdate]
@MaLop VARCHAR(6),
@TenLop CHAR(7)
AS
BEGIN
	UPDATE Lop SET TenLop = @TenLop WHERE MaLop = @MaLop
END

GO
/****** Object:  StoredProcedure [dbo].[MonHP_SelectByHK]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MonHP_SelectByHK]
@MaHK VARCHAR(6)
AS
BEGIN
	SELECT * FROM dbo.MonHP WHERE dbo.MonHP.MaHK  = @MaHK
END

GO
/****** Object:  StoredProcedure [dbo].[MonHPDelete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MonHPDelete]
@MaMonHP VARCHAR(6)
AS
BEGIN
	DELETE FROM dbo.MonHP WHERE MaMonHP = @MaMonHP
END

GO
/****** Object:  StoredProcedure [dbo].[MonHPInsert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MonHPInsert]
@TenMonHP NVARCHAR(50),
@SoTin TINYINT,
@TietLT TINYINT,
@TietTH TINYINT,
@MaHK VARCHAR(6)
AS
BEGIN
	INSERT MonHP (TenMonHP, SoTin, TietLT, TietTH, MaHK) VALUES (@TenMonHP, CASE WHEN (@SoTin) IS NULL OR (@SoTin) = '' THEN 0 ELSE (@SoTin) END, CASE WHEN (@TietLT) IS NULL OR (@TietLT) = '' THEN 0 ELSE (@TietLT) END, CASE WHEN (@TietTH) IS NULL OR (@TietTH) = '' THEN 0 ELSE (@TietTH) END, @MaHK)
END

GO
/****** Object:  StoredProcedure [dbo].[MonHPOnlySelect]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MonHPOnlySelect]
@MaMonHP VARCHAR(6)
AS
BEGIN
	SELECT * FROM dbo.MonHP WHERE MaMonHP = @MaMonHP
END

GO
/****** Object:  StoredProcedure [dbo].[MonHPSelectAll]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MonHPSelectAll]
AS
BEGIN
	SELECT * FROM dbo.MonHP
END

GO
/****** Object:  StoredProcedure [dbo].[MonHPSelectByGVPhanCong]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MonHPSelectByGVPhanCong]
@MaHK VARCHAR(6)
AS
BEGIN
	SELECT * FROM dbo.MonHP mhp JOIN dbo.GV_PhanCong pc ON pc.MaMonHP = mhp.MaMonHP
	WHERE mhp.MaHK = @MaHK
END
GO
/****** Object:  StoredProcedure [dbo].[MonHPSelectBySV]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[MonHPSelectBySV]
@MaSV VARCHAR(6)
AS
BEGIN
	SELECT dbo.MonHP.* FROM dbo.MonHP LEFT JOIN dbo.DiemHP ON DiemHP.MaMonHP = MonHP.MaMonHP
	WHERE MaSV = @MaSV
END
GO
/****** Object:  StoredProcedure [dbo].[MonHPUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[MonHPUpdate]
@MaMonHP VARCHAR(6),
@TenMonHP NVARCHAR(50),
@SoTin TINYINT,
@TietLT TINYINT,
@TietTH TINYINT
AS
BEGIN
	UPDATE dbo.MonHP SET TenMonHP = @TenMonHP, SoTin = @SoTin, TietLT = @TietLT, TietTH = @TietTH WHERE MaMonHP = @MaMonHP
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienDelete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----8	190008	Trần Tiến 	Đạt	2001-03-19 00:00:00.000	Nam 	Đồng Nai	Kinh	L00002	T00001
--SinhVienUpdate '190008', N'Trần Tiến', N'Đạt', '2001-2-22', N'Nữ', N'Đồng Nai 2', N'Kinh 2' 

CREATE PROC [dbo].[SinhVienDelete]
@MaSV VARCHAR(6)
AS
BEGIN
	DELETE FROM dbo.SinhVien WHERE MaSV = @MaSV
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienHA_SelectALL]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SinhVienHA_SelectALL]
AS
BEGIN
	SELECT a.FileIMG, a.MaSV, a.SV_IMG, a.IMG, b.HoLot + ' ' + b.Ten [HoTenSV] FROM dbo.SinhVien_HinhAnh a
	RIGHT JOIN dbo.SinhVien b ON b.MaSV = a.MaSV 
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienHA_SelectByLop]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SinhVienHA_SelectByLop]
@MaLop VARCHAR(6)
AS
BEGIN
	SELECT a.FileIMG, a.MaSV, a.SV_IMG, a.IMG, b.HoLot + ' ' + b.Ten [HoTenSV] FROM dbo.SinhVien_HinhAnh a
	RIGHT JOIN dbo.SinhVien b ON b.MaSV = a.MaSV 
	RIGHT JOIN dbo.Lop c ON c.MaLop = b.MaLop
	WHERE b.MaLop = @MaLop
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienHA_Update]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SinhVienHA_Update]
@SV_IMG VARCHAR(8),
@IMG VARBINARY(MAX),
@FileIMG NVARCHAR(100)
AS
BEGIN
	UPDATE dbo.SinhVien_HinhAnh SET IMG = @IMG, FileIMG = @FileIMG WHERE SV_IMG = @SV_IMG
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienInsert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SinhVienInsert] 
@HoLot NVARCHAR(30),
@Ten NVARCHAR(7),
@NgaySinh DATETIME,
@GioiTinh NCHAR(4),
@NoiSinh NVARCHAR(30),
@DanToc NVARCHAR(20),
@MaLop VARCHAR(6),
@MaTinhTrang VARCHAR(6)
AS
BEGIN
	INSERT SinhVien (HoLot, Ten, NgaySinh, GioiTinh, NoiSinh, DanToc, MaLop, MaTinhTrang) VALUES (@HoLot, @Ten, @NgaySinh, @GioiTinh, @NoiSinh, @DanToc, @MaLop, CASE WHEN (@MaTinhTrang) IS NULL OR (@MaTinhTrang = '') THEN 'T00001' ELSE (@MaTinhTrang) END)
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienInsert_1]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SinhVienInsert_1] 
@HoLot NVARCHAR(30),
@Ten NVARCHAR(7),
@NgaySinh DATETIME,
@GioiTinh NCHAR(4),
@NoiSinh NVARCHAR(30),
@DanToc NVARCHAR(20),
@MaLop VARCHAR(6)
AS
BEGIN
	INSERT SinhVien (HoLot, Ten, NgaySinh, GioiTinh, NoiSinh, DanToc, MaLop) VALUES (@HoLot, @Ten, @NgaySinh, @GioiTinh, @NoiSinh, @DanToc, @MaLop)
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienSelectAll]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SinhVienSelectAll]
AS
BEGIN
	SELECT * FROM dbo.SinhVien
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienSelectAllByID]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SinhVienSelectAllByID]
@MaSV VARCHAR(6)
AS
BEGIN
	SELECT MaSV, HoLot + ' ' + Ten [HoTen], NgaySinh, GioiTinh, NoiSinh, DanToc FROM dbo.SinhVien WHERE MaSV = @MaSV
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienSelectAllByLop]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SinhVienSelectAllByLop]
@MaLop VARCHAR(6)
AS
BEGIN
	SELECT * FROM dbo.SinhVien WHERE MaLop = @MaLop
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienSelectAllByLopDetail]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SinhVienSelectAllByLopDetail]
@MaLop VARCHAR(6)
AS
BEGIN
	SELECT MaSV, HoLot + ' ' + Ten [HoTen], NgaySinh, GioiTinh, NoiSinh, DanToc FROM dbo.SinhVien WHERE MaLop = @MaLop
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienSelectAllDetail]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SinhVienSelectAllDetail]
AS
BEGIN
	SELECT MaSV, HoLot + ' ' + Ten [HoTen], NgaySinh, GioiTinh, NoiSinh, DanToc FROM dbo.SinhVien 
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienSelectAllDetail_1]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SinhVienSelectAllDetail_1]
AS
BEGIN
	SELECT MaSV, HoLot, Ten, NgaySinh, GioiTinh, NoiSinh, DanToc FROM dbo.SinhVien 
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienSelectCheckNew]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SinhVienSelectCheckNew]
@HoLot NVARCHAR(30),
@Ten NVARCHAR(7)
AS
BEGIN
	SELECT dbo.SinhVien.HoLot, dbo.SinhVien.Ten, dbo.SinhVien.NgaySinh, dbo.SinhVien.GioiTinh, dbo.SinhVien.NoiSinh, dbo.SinhVien.DanToc FROM dbo.SinhVien
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SinhVienUpdate] 
@MaSV VARCHAR(6),
@HoLot NVARCHAR(30),
@Ten NVARCHAR(7),
@NgaySinh DATETIME,
@GioiTinh NCHAR(4),
@NoiSinh NVARCHAR(30),
@DanToc NVARCHAR(20)
AS
BEGIN
	UPDATE dbo.SinhVien SET HoLot = @HoLot, Ten = @Ten, NgaySinh = @NgaySinh, GioiTinh = @GioiTinh, NoiSinh = @NoiSinh, DanToc = @DanToc WHERE MaSV = @MaSV
END

GO
/****** Object:  StoredProcedure [dbo].[SinhVienUpdate_1]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SinhVienUpdate_1] 
@MaSV VARCHAR(6),
@NgaySinh DATETIME,
@GioiTinh NCHAR(4),
@NoiSinh NVARCHAR(30),
@DanToc NVARCHAR(20)
AS
BEGIN
	UPDATE dbo.SinhVien SET NgaySinh = @NgaySinh, GioiTinh = @GioiTinh, NoiSinh = @NoiSinh, DanToc = @DanToc WHERE MaSV = @MaSV
END

GO
/****** Object:  StoredProcedure [dbo].[ThongTinUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThongTinUpdate]
@MaThongTin VARCHAR(6),
@DonViChuQuan NVARCHAR(200),
@TenTruong NVARCHAR(200),
@Tinh NVARCHAR(50),
@KhoaHoc VARCHAR(20),
@NganhHoc NVARCHAR(50),
@ChuyenNganh NVARCHAR(50)
AS
BEGIN
	UPDATE dbo.ThongTin SET Tinh = @Tinh, DonViChuQuan = @DonViChuQuan, TenTruong = @TenTruong, KhoaHoc = @KhoaHoc, NganhHoc = @NganhHoc, ChuyenNganh = @ChuyenNganh
	WHERE MaThongTin = @MaThongTin
END

GO
/****** Object:  StoredProcedure [dbo].[TinhTrangDelete]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[TinhTrangDelete]
@MaTinhTrang VARCHAR(6)
AS
BEGIN
	DELETE FROM dbo.TinhTrang WHERE MaTinhTrang = @MaTinhTrang
END

GO
/****** Object:  StoredProcedure [dbo].[TinhTrangInsert]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TinhTrangInsert]
@TinhTrang NVARCHAR(20)
AS
BEGIN
	INSERT TinhTrang (TinhTrang) VALUES (@TinhTrang)
END

GO
/****** Object:  StoredProcedure [dbo].[TinhTrangUpdate]    Script Date: 18/03/2021 8:53:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[TinhTrangUpdate]
@MaTinhTrang VARCHAR(6),
@TinhTrang NVARCHAR(20)
AS
BEGIN
	UPDATE TinhTrang SET TinhTrang = @TinhTrang WHERE MaTinhTrang = @MaTinhTrang
END

GO
USE [master]
GO
